<main fxLayout="column" fxLayoutAlign="space-evely start" [style.margin-left.rem]="1">
  <p>person works!</p>

  <mat-card-actions>
    <button
      type="button"
      title="back home"
      routerLink=""
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      mat-flat-button
      color="warn"
    >
      <mat-icon>arrow_back</mat-icon>
      back
    </button>
    <button
      type="button"
      title="go to person-create"
      routerLink="person-create"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      mat-flat-button
      color="primary"
      [style.margin-left.rem]="1"
    >
      create
      <mat-icon iconPositionEnd>add_circle</mat-icon>
    </button>
  </mat-card-actions>
</main>
